<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image1x-icon" href="/image/favicon.png.ico">
  <title> Indian Geo-Platform of ISRO </title>
  <style>
    .dynamic-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .dynamic-table th, .dynamic-table td {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: left;
    }

    .dynamic-table th {
      background-color: #f2f2f2;
    }

    table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
  </style>
  <link rel="stylesheet" href="styles/style.css">
  <!-- boxicon css link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <div class="overlay"></div>
  <header>
    <a href="#" class="logo"><img src="img/head.png" alt="">
      <ul class="navlist">
        <li><a href="#userlog" style="font-size:30px; margin-left:30px;">User Log</a></li>
        <li><a href="#serverlog" style="font-size:30px;margin-left:60px;">Server Log</a></li>
      </ul>
      <div class="right-header">
        <a href="#" class="logo"><img src="img/right head.png" alt="">
          <div class="menu-icon">
            <div class="bar"></div>
          </div>
      </div>
  </header>
  <br>
  <br>
  <br>
  <br>
    <div class="hero-info">
      <h1 id="userlog" style="margin-left:650px;">User Log</h1>
    </div>   
    <section class="botttoom" id="latest2">
      <!-- Dynamically generated table -->
      <table class="dynamic-table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Page URL</th>
            <th>Browser</th>
            <th>Client Time</th>
            <th>Location</th>
            <th>Type</th>
            <th>Log Type</th>
            <th>User Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add data rows for each entry -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322461</td>
            <td>1053, 98</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128309380</td>
            <td>unknown</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322476</td>
            <td>1053, 75</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128309380</td>
            <td>unknown</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322603</td>
            <td>1058, 53</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322836</td>
            <td>1066, 8</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322939</td>
            <td>1024, 5</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322964</td>
            <td>984, 12</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322971</td>
            <td>972, 13</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128322971</td>
            <td>unknown</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128324483</td>
            <td>878, 48</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128324491</td>
            <td>878, 82</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128324491</td>
            <td>unknown</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128338949</td>
            <td>773, 111</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339572</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339574</td>
            <td>773, 80</td>
            <td>mousedown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339576</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339755</td>
            <td>873, 106</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339763</td>
            <td>890, 110</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339779</td>
            <td>916, 113</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>

          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128338949</td>
            <td>773, 111</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          
          <!-- Log Entry 2 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339572</td>
            <td>null, null</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 3 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339574</td>
            <td>773, 80</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 4 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339931</td>
            <td>934, 114</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 5 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339939</td>
            <td>937, 112</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 6 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340003</td>
            <td>976, 103</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 7 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340091</td>
            <td>984, 101</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 8 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340132</td>
            <td>1000, 100</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 9 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340138</td>
            <td>null, null</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 10 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340320</td>
            <td>964, 100</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>

          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128338949</td>
            <td>773, 111</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          
          <!-- Log Entry 2 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339572</td>
            <td>null, null</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 3 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339574</td>
            <td>773, 80</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 4 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339931</td>
            <td>934, 114</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 5 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339939</td>
            <td>937, 112</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 6 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340003</td>
            <td>976, 103</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 7 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340091</td>
            <td>984, 101</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 8 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340132</td>
            <td>1000, 100</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 9 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340163</td>
            <td>1003, 98</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 10 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340403</td>
            <td>1023, 95</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 11 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340621</td>
            <td>1035, 94</td>
            <td>mousedown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 12 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340625</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 13 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340625</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 14 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340627</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 15 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340627</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 16 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340715</td>
            <td>1035, 94</td>
            <td>mouseup</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 17 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340715</td>
            <td>1035, 94</td>
            <td>click</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 18 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341292</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 19 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341292</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 20 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341294</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 21 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341294</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>

          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128338949</td>
            <td>773, 111</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          
          <!-- Log Entry 2 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339572</td>
            <td>null, null</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 3 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339574</td>
            <td>773, 80</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 4 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339931</td>
            <td>934, 114</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 5 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128339939</td>
            <td>937, 112</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 6 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340003</td>
            <td>976, 103</td>
            <td>raw</td>
            <td>true</td>
            <td>false</td>
          </tr>
      
          <!-- Log Entry 7 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340091</td>
            <td>984, 101</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 8 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340132</td>
            <td>1000, 100</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 9 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340163</td>
            <td>1003, 98</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 10 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340403</td>
            <td>1023, 95</td>
            <td>mouseover</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 11 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340621</td>
            <td>1035, 94</td>
            <td>mousedown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 12 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340625</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 13 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340625</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 14 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340627</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 15 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128340627</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 16 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341292</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 17 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341292</td>
            <td>null, null</td>
            <td>blur</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 18 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341294</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 19 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341294</td>
            <td>null, null</td>
            <td>focus</td>
            <td>raw</td>
            <td>true</td>
          </tr>
      
          <!-- Log Entry 20 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-staging1.nrsc.gov.in/wdc2.0/</td>
            <td>chrome 119.0.0</td>
            <td>1700128341294</td>
            <td>null, null</td>
            <td>interval</td>
            <td>raw</td>
            <td>false</td>
          </tr>
          
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128344094</td>
            <td>327, 431</td>
            <td>mouseup</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 2 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128344094</td>
            <td>327, 431</td>
            <td>click</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 3 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>824</td>
            <td>1700128343270</td>
            <td>1700128344094</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 4 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128346462</td>
            <td>null, null</td>
            <td>keydown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 5 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128346465</td>
            <td>null, null</td>
            <td>input</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 6 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>3195</td>
            <td>1700128343270</td>
            <td>1700128346465</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          
          <!-- Log Entry 7 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128346779</td>
            <td>null, null</td>
            <td>keydown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 8 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128346780</td>
            <td>null, null</td>
            <td>input</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 9 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>3510</td>
            <td>1700128343270</td>
            <td>1700128346780</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
          
          <!-- Log Entry 10 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128347097</td>
            <td>null, null</td>
            <td>keydown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 11 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128347099</td>
            <td>null, null</td>
            <td>input</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 12 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128347223</td>
            <td>null, null</td>
            <td>keydown</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 13 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128347224</td>
            <td>null, null</td>
            <td>input</td>
            <td>raw</td>
            <td>true</td>
          </tr>
          
          <!-- Log Entry 14 -->
          <tr>
            <td>nobody</td>
            <td>https://bhuvan-cas1.nrsc.gov.in/cas/login?service=https%3A%2F%2Fbhuvan-staging1.nrsc.gov.in%2Fbhuvan_new2d_support_apis%2Flogin%2Flogin.php</td>
            <td>chrome 119.0.0</td>
            <td>1700128347097</td>
            <td>null, null</td>
            <td>mouseover</td>
            <td>interval</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </section>
  
  
    <div class="hero-info">
      <h1 id="serverlog" style="margin-left:650px;">Server Log</h1>
    </div>  
    <br> 
    <br>
    <br>
    <table>
      <thead>
          <tr>
              <th>IP Address</th>
              <th>Date</th>
              <th>Request</th>
              <th>Status Code</th>
              <th>User Agent</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>172.26.3.214</td>
              <td>09/Jan/2024 00:01:03 +0530</td>
              <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
              <td>200</td>
              <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
          </tr>
          <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:02:01 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.200</td>
            <td>09/Jan/2024 00:02:18 +0530</td>
            <td>GET /anganwadi/ HTTP/1.1</td>
            <td>200</td>
            <td>Python-urllib/3.7</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:03:01 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:04:01 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:05:02 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:06:01 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:07:02 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:08:02 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>
        <tr>
            <td>172.26.3.214</td>
            <td>09/Jan/2024 00:09:01 +0530</td>
            <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
            <td>200</td>
            <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
        </tr>

        <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:13:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:14:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:15:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:16:02 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:17:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:18:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:19:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:20:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:21:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:22:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:23:01 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>
      <tr>
          <td>172.26.3.214</td>
          <td>09/Jan/2024 00:24:02 +0530</td>
          <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
          <td>200</td>
          <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
      </tr>

      <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:26:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:27:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:28:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:29:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:30:02 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:31:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:32:02 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:33:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:34:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.200</td>
        <td>09/Jan/2024 00:34:08 +0530</td>
        <td>GET /anganwadi/ HTTP/1.1</td>
        <td>200</td>
        <td>Python-urllib/3.7</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:35:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:36:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:37:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>
    <tr>
        <td>172.26.3.214</td>
        <td>09/Jan/2024 00:38:01 +0530</td>
        <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
        <td>200</td>
        <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
    </tr>

    <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:40:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:41:02 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:42:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:43:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:44:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:45:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:46:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:47:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:48:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:49:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:50:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:51:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:52:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:53:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:54:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:55:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:56:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:57:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
  <tr>
      <td>172.26.3.214</td>
      <td>09/Jan/2024 00:58:01 +0530</td>
      <td>GET /scan_m/cas_userstats/getUserStats.php?sdate=2024-01-09&amp;edate=2024-01-09 HTTP/1.1</td>
      <td>200</td>
      <td>python-requests/2.5.1 CPython/3.8.5 Linux/3.10.0-327.el7.x86_64</td>
  </tr>
      </tbody>
  </table>
  <footer>
    <p>Copyright  Bhuvan:ISRO/NRSC, 2023</p>
    <p><span>Aadil Arsh S R, Sanjay Kumaar Eswaran, Kavin Dev R, AswinKumar V</span> </p>
    <p>All Right Reserved.</p>
  </footer>

  <div id="progress">
    <span id="progress-value">
      <i class='bx bxs-chevrons-up'></i>
    </span>
  </div>

  <!-- scroll reveal  -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- mixitup cdn js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
  <script src="../script.js"></script>
  
  
</body>

</html>